// color

$color-primary :#eb1e23;
$color-text : #6f6f6f;
$color-heading : #353535;
$color-grey : #cacaca;
$color-black : #353535;
$color-silver : #dddddd;
$color-silver-light : #f8f8f8;
$font-family-body : 'Lato', sans-serif;
$font-size-body : 16px;
$font-size-print : 14px;
$font-size-small : 12px;