body, html{
    font-family: $font-family-body;
    font-size: $font-size-body;
    color: $color-text;
    background: $color-silver-light;
    font-weight: 400;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-family-body;
    color: $color-heading;
    margin-bottom: 20px;
    font-weight: 300 !important;
}

h1{
    font-size: 42px;
    line-height: 48px;
}

h2{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px !important;
}

h3{
    font-size: 30px;
    line-height: 36px;
}

h4{
    font-size: 24px;
    line-height: 34px;
}

h5{
    font-size: 18px;
    line-height: 24px;
}

h6{
    font-size: 16px;
    line-height: 24px;
}

p{
    margin-bottom: 20px;
    font-family: $font-family-body;
}

a{
    text-decoration: none;
    color:#ffffff;
    font-family: $font-family-body;

    &:hover{
        text-decoration: underline;
        color: $color-primary;
    }
}

ca{
    font-family: $font-family-body;
}