<footer>
    <div class="main_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h6 class="title">Company</h6>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Coporate Social Responsibility</a></li>
                    <li><a href="#"> Official Social Media Site</a></li>
                    <li><a href="#"> Visit Us</a></li>
                    <li><a href="#"> Why Choose Canon</a></li>
                    <li><a href="#"> Careers</a></li>
                    <li><a href="#"> Press Room</a></li>
                    <li><a href="#"> Term of Use</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> FAQ</a></li>
                </div>
                <div class="col-md-2">
                    <h6 class="title">Products</h6>
                    <li><a href="#"> Photography</a></li>
                    <li><a href="#"> Printing</a></li>
                    <li><a href="#"> Scanning</a></li>
                    <li><a href="#"> Videography Solution</a></li>
                    <li><a href="#"> Presentation</a></li>
                    <li><a href="#"> Others</a></li>
                </div>
                <div class="col-md-2">
                    <h6 class="title">Where to Buy</h6>
                    <li><a href="#"> Product Warranty</a></li>
                    <li><a href="#"> Warranty Registration</a></li>
                    <li><a href="#"> Canon Professional Services</a></li>
                    <li><a href="#"> Training Registration</a></li>
                    <li><a href="#"> Anti-Counterfeit</a></li>
                </div>
                <div class="col-md-2">
                    <h6 class="title">You Canon + You</h6>
                    <li><a href="#"> You Canon + You</a></li>
                    <li><a href="#"> EOS Tips </a></li>
                    <li><a href="#"> Compact Camera Tips</a></li>
                    <li><a href="#"> PIXMA Tips</a></li>
                    <li><a href="#"> Scanner Tips</a></li>
                </div>
                <div class="col-md-2">
                    <h6 class="title">Support & Downloads</h6>
                    <li><a href="#"> Services</a></li>
                    <li><a href="#"> Repair Status</a></li>
                    <li><a href="#"> Setup & Operation Tips</a></li>
                    <li><a href="#"> Online Chat</a></li>
                    <li><a href="#"> Hotline</a></li>
                </div>
                <div class="col-md-2">
                    <li><a href="#" class="situs">Other Canon Sites </a></li>
                    <li>
                        <a href="https://www.facebook.com/CanonSGOfficial" target="_blank" rel="noopener"><img
                                src="images/facebook-f-brands.svg"></a>
                        <a href="http://instagram.com/canonsingapore" target="_blank" rel="noopener"><img
                                src="images/instagram.svg"></a>
                        <a href="http://www.youtube.com/CanonSGOfficial" target="_blank" rel="noopener"><img
                                src="images/youtube.svg"></a>
                    </li>
                </div>
            </div>
            {{!-- <div class="scroll-top">
                <div class="col-md-12">
                    <a href="#"><span><img src="images/Up Icon.html"></span>Back to top</a>
                </div>
            </div> --}}
            <div class="sub-footer">
                <div class="col-md-12">
                    <p style="color:#999999;">Copyright &copy; 2019 Canon Singapore Pte. Ltd. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>