<section>
    <div class="container">
        <div class="product">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <span class="info">New</span>
                        <div class="card-image">
                            <a href="#"><img src="images/camera1.png" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#">EOS M6 Mark II</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <span class="info">New</span>
                        <div class="card-image">
                            <a href="#"><img src="images/camera2.png" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#">iNSPiC [C] CV-123A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <span class="info">New</span>
                        <div class="card-image">
                            <a href="#"><img src="images/print1.png" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#">PIXMA G6070 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <span class="info">New</span>
                            <div class="card-image">
                                <a href="#"><img src="images/lensa1.png" class="card-img" alt="..."
                                        style="width:362px; height:320px; padding:15px;"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">RF70-200mm f/2.8L IS USM</a></h5>
                                <p class="card-text">One of the zoom trinity lens favoured by photographers
                                    across
                                    genres, RF70-200mm f/2.8L IS USM made a leap forward in its design -made
                                    possible
                                    with RF
                                    mount. Designed approximately 27% shorter and 28% lighter comparing to
                                    EF70-200mm
                                    f/2.8L IS
                                    III USM, providing mobility and to reduce the burden for prolonged </p>
                                <div class="card-button"><button type="button" class="btn btn-danger">View
                                        Product</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <a><button type="button" class="btn btn-outline-danger">View all products</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title"><a>PIXMA Perfect</a></h5>
                                <p class="card-text">Designed for exceptional low-cost printing?​​​​​​​ <br>
                                    Designed for premium
                                    quality printing?​​​​​​​ <br> Designed to deliver high volume printing yield
                                    with
                                    exceptional
                                    productivity?​​​​​​​​​​​​​​ <br> <br>Can't decide which PIXMA printer suit
                                    your
                                    need best? ​​​​​​​​​​​​​​Let us help you to find the perfect PIXMA for your
                                    different printing
                                    needs. ​​​​​</p>
                                <div class="card-button"><button type="button" class="btn btn-danger">Find Your
                                        Perfect
                                        PIXMA Now!</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img src="images/pixma.jpg" class="card-img" alt="..."></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h2>News & Press Releases</h2>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <a href="#"><img src="images/new1.jpg" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Canon Comprises Approximately 70% of Press
                                        Cameras
                                        Used During
                                        Rugby
                                        World Cup 2019™ Knock Out Stage</a></h5>
                                <p class="card-text">Canon announced today that Canon-brand equipment comprised
                                    an
                                    approximately 70% share of cameras used by press photographers at match
                                    venues
                                    during
                                    the knock out stage of Rugby World Cup 2019. Throughout the tournament,
                                    Canon has
                                    empowered professional photographers aiming to capture decisive </p>
                                <div class="card-button"><button type="button" class="btn btn-danger">Read
                                        More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck">
                    <div class="card">
                        <a href="#"><img src="images/lensa2.jpg" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Canon Celebrates 50th Anniversary of Lens
                                    Employing
                                    Synthetic
                                    Fluorite</a>
                            </h5>
                            <p class="card-text">
                                <strong>07 Nov 2019</strong> — Canon announced today that this year marks the
                                50th
                                anniversary of the
                                release
                                of the world’s
                                first lens for interchangeable-lens cameras targeting ordinary consumers to
                                employ </p>
                        </div>
                    </div>
                    <div class="card">
                        <a href="#"><img src="images/lensa3.png" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Canon Introduces Two New Binoculars, Equipped
                                    with
                                    Shift
                                    Image
                                    Stabilization</a>
                            </h5>
                            <p class="card-text">
                                <strong>19 Sep 2019</strong> — With the Shift IS technology, users can expect to
                                use
                                the
                                8x20 IS and
                                10x20
                                IS
                                with greater ease for a clearer view.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <a href="#"><img src="images/berita1.png" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Canon to Operate Production- level Implementation
                                    of
                                    the
                                    Free
                                    Viewpoint
                                    Video System </a></h5>
                            <p class="card-text">
                                <strong>
                                    17 Sep 2019
                                </strong> — Canon announced today that during seven matches of Rugby World Cup
                                2019,
                                to
                                be held from September 20 to November 2, the company will provide highlight
                                footage
                                created
                                by
                                the Free Viewpoint Video System to the </p>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a><button type="button" class="btn btn-outline-danger" style="float:right">View all news &
                            press
                            releases</button></a>
                </div>
            </div>
        </div>
    </div>
</section>