.main_footer{
    padding-top: 40px;
    .row{
        .title{
            font-weight: 700 !important;
        }

        li{
            list-style-type: none;
            margin-bottom: 10px;
            a{
                list-style-type: none;
                line-height: 26px;
                color: #333333;
                

                &:hover{
                    color: $color-primary;
                    text-decoration: none;
                }
            }

            .situs{
                font-weight: 700;
            } 
            
            a img{
                display: inline-block;
                height: 18px;
                padding-right: 15px;
            }
           
        }
    }
    

    .sub-footer{
        padding: 10px 0 80px 0;
        border-top: solid 1px #9a9a9a;
        color: #999;
        
        .col-md-12{
            padding: 0px;
        }
    }

    .title{
        font-weight: 700;
        color: #999999;
    }
}



