.navbar{
    &__tw {
        position: relative;
        background-color: transparent;
        height: 100px;
        width: 100%;
        padding-top: 30px;

        &-container{
            padding-top: 10px;
        }

        &-brand{
            position: absolute;
            display: block;
            background-color: #FFEAEA;
            border-radius: 100%;
            background-size: 50px;
            width: 50px;
            height: 50px;
            padding:10px 10px 10px 14px;

            img{
                width: 22px;
                height: 16px;
            }
        }
        &-title{
            padding-top: 10px;
        }

        &-content{
            margin-top: -50px;
            border: violet solid 3px;
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }
    }
}