<!-- Just an image -->
<nav class="navbar__tw navbar-light">
  <div class="container navbar__tw-container">
    <a class="navbar__tw-brand" href="#">
      <img src="images/icon/menu.svg" alt="" width="30" height="24">
    </a>
    <div class="navbar__tw-title text-center">
        <h4>BELAJAR BARANG.ID</h4>
    </div>
    <a class="navbar__tw-content float-right" href="#">
            <img src="images/icon/arrow-right.svg" alt="" width="30" height="24">
    </a>
  </div>
</nav>