.container{
    padding-bottom: 25px;

    .product{
        margin-top: -60px;
    }

    .row{
        .card{
            border-radius: 10px;

            .info{
                font-family: $font-family-body;
                font-size: $font-size-body;
                border-radius: 60px;
                background: $color-primary;
                color: #f8f8f8;
                line-height: 1;
                font-size: 12px;
                right: 20px;
                position: absolute;
                top: 20px;
                z-index: 2;
                padding: 10px 15px;
                font-weight: 400;
            }

            .card-body{
                padding: 50px 25px 0px 20px;
                text-align: center;
                font-size: $font-size-print;
                line-height: 26px;
                color: #6f6f6f;
            
                a{  
                    font-size: $font-size-body;
                    color: $color-heading;
                    font-family: $font-family-body;
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 200;
                    text-decoration: none;
        
                    &:hover{
                        color:#ec1d24;
                    }
                }
        
                .card-text{
                    text-align: justify;
        
                    p{
                        margin: 0px 0px 20px;
                        font-family: $font-family-body;
                    }
                }
                
                .card-title{
                    display: block;
                    text-align: left !important; 
                    font-size: $font-size-body;
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 300;
                    
                    // h5{
                    //     overflow: hidden;
                    //         text-overflow: ellipsis;
                    //         -webkit-box-orient: vertical;
                    //         display: -webkit-box;
                    //         -webkit-line-clamp: 3;
                        a{
                            
                            &:hover{
                                color:#ec1d24;
                            }
                        }
                    }
                // }
                .card-button{
                    display: block;
                    text-align: left !important; 
                    line-height: 32px;
                    font-weight: 300;

                    .btn {
                        text-align: center;
                        font-weight: 700 !important;
                        border-radius: 60px;
                        padding: 15px 40px;
                        line-height: 1.42857143;
                        font-size: 14px !important;
                        font-size: $font-size-body;
                            
                        .btn-danger{
                            margin: 0px 0px 20px;
                            padding: 15px 40px;
                            border-radius: 60px;
                        }
                    }   
                }

            }
        }
        .text-right{
            margin-top: 15px;
            .btn{
                margin: 0px 0px 5px;
                padding: 12px 20px;
                border-radius: 60px;
                float: right;
                font-size: $font-size-body;
                font-size: 12px !important;
                font-weight: 700;
                
                .btn-outline-danger{
                    margin-top:15px;
                }
            }
            
        }
    }
}

    // -webkit-box-shadow: rgba(147, 147, 147, 0.1) 0 1px 15px 1px;
    // box-shadow: rgba(147, 147, 147, 0.1) 0 1px 15px 1px;

