.carousel-indicators{
    padding-bottom: 57px;
    
    li {
        border-radius: 50%;
        width: 10px !important;
        height: 10px !important ;
        background-color: #fff;
        background-clip: padding-box;
        // border: solid 1px #ec1d24;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
    }
}